---
import Base from '../layouts/Base.astro';
---

<Base title="Charlie Shi">
  <main class="min-h-screen flex items-center justify-center">
    <h1 class="text-5xl font-display font-bold tracking-widest">CHARLIE SHI</h1>
  </main>
</Base>
